<app-drawer>
    <h2>Voeg naam toe aan het rad</h2>
    <div class="form__group">
        <input #newItem type="text" placeholder="Markel Borsato"  class="form__input">
        <button (click)="addItem(newItem.value); newItem.value=''" class="form__button"><i-feather name="plus"></i-feather></button>
    </div>



    <h2>Titel</h2>
    <input type="text" #newTitle (input)="setTitle(newTitle.value)" class="form__input">
    <small>{{ title }}</small>


    <h2>Nu in het rad</h2>
    <ul class="list">
        <li *ngFor="let item of list" class=list__item>
            <span class="list__text">{{ item }}</span>
            <button (click)="deleteItem(item)" class="list__delete"><i-feather name="x"></i-feather></button>
        </li>
    </ul>
</app-drawer>
