<sicko-drawer>
    <div class="list__section">
        <h2>Voeg een naam toe aan het rad</h2>
        <div class="form__group">
            <input #newItem type="text" placeholder="Een leuk naampje..."  class="form__input">
            <button (click)="addWheelItem(newItem.value); newItem.value=''; newItem.focus()" class="form__button form__button--square"><i-feather name="plus"></i-feather></button>
        </div>

        <h2>Nu in het rad ({{ wheelItems.length }})</h2>
        <ul *ngIf="wheelItems.length">
            <li *ngFor="let item of wheelItems; let i = index; trackBy: trackByFn" class="form__group">
                <input #newItem type="text" class="form__input" [value]="item" (input)="editItem(i, newItem.value)">
                <button (click)="deleteWheelItem(item)" class="form__button form__button--square"><i-feather name="x"></i-feather></button>
            </li>
        </ul>
        <div *ngIf="!wheelItems.length" class="wheel-items-empty">
            <small>Geen naampjes in het rad, voeg een naampje toe makker...</small>
        </div>
    </div>

    <div class="list__section">
        <h1>Opties</h1>
        <h2>Titel</h2>
        <div class="form__group">
            <input type="text" #newTitle (input)="setTitle(newTitle.value)" [value]="title" class="form__input">
        </div>

        <h2>Achtergrondjes</h2>
        <sicko-background-picker></sicko-background-picker>
    </div>
</sicko-drawer>
