.list {

    &__add-new-input {
    }

    &__add-new-button {
        margin-left: 20px;
        padding: 11px;
        width: auto;
    }

}

.background {
    width: 200px;
    height: 180px;
    background-color: orangered;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
