.drawer {
    $self: &;

    position: fixed;
    top: 100vh;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    transition: .3s;

    &--open {
        top: 0;

        #{$self}__background {
            background-color: rgba(black, 0.5);
            pointer-events: unset;
        }

        #{$self}__container {
            margin-top: 20vh;
        }
    }

    &__background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: .3s;
        pointer-events: none;
    }

    &__container {
        position: relative;

        max-width: 600px;
        width: 100%;
        height: 80vh;

        background: #000000;
        // background-color: orange;

        margin: 0 auto;
        margin-top: -50px;

        box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.5);
        border-radius: 20px 20px 0 0;

        overflow: hidden;
        transition: .3s;
        z-index: 1;
    }

    &__header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 50px;
        display: grid;
        place-items: center;
        cursor: pointer;
        background-color: black;

        &::after {
            position: absolute;
            bottom: -50px;
            content: '';
            display: block;
            height: 50px;
            width: 100%;
            background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0, 0) 100%);
        }
    }

    &__lip {
        margin: 0 auto;
        width: 200px;
        height: 10px;
        background-color: rgba(white, .2);
        border-radius: 999px;
        cursor: pointer;
    }

    &__body {
        height: 100%;
        padding: 40px;
        padding-top: 90px;
        overflow: auto;
    }
}
