.backgrounds {
    display: grid;

    &__background {
        width: 200px;
        height: 180px;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
    }
}
