@import '../../../styles/mixins/mixins';

.backgrounds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @include screen (600px) {
        grid-template-columns: 1fr;
    }

    &__background {
        aspect-ratio: 16/9;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        transition: .2s;

        &:hover {
           box-shadow: inset 0px 0px 14px 5px rgb(25, 2, 58)
        }
    }
}
