@import '../../../styles/mixins/mixins';

:host {
    display: block;
    min-height: 100vh;
}

.wheel {
    height: 100%;

    &__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        &--animated {
            background-repeat: repeat;
            background-size: 300px;
            animation: slide 20s linear infinite;
        }

        &--static {
            opacity: .5;
            background-size: cover;
            background-position: center;
        }
    }

    &__container {
        position: relative;
        height: 100%;
        z-index: 2;
    }

    &__title {
        font-size: 80px;
        color: white;
        margin-top: 0;
        text-align: center;
        padding-top: 100px;
        transform: skewY(-10deg);
    }

    &__wheel {
        width: 500px;
        height: 500px;
        background-color: white;
        border-radius: 999px;
        margin: 0 auto;
        margin-top: 100px;
        display: grid;
        color: black;
        place-items: center;
        overflow: hidden;

        @include screen (1000px) {
            width: 300px;
            height: 300px;
        }
    }
}

@keyframes slide {

    to {
        background-position: 600px 300px;
    }
}
