.wheel {
    height: 100vh;
    background-image: url('/assets/img/sicko.jpg');
    background-repeat: repeat;
    background-size: 300px;
    animation: sickoBg 20s linear infinite;
    background-position: 0 0;

    &__title {
        font-size: 80px;
        color: white;
        margin-top: 0;
        text-align: center;
        padding-top: 100px;
        transform: skewY(-10deg);
    }

    &__wheel {
        width: 500px;
        height: 500px;
        background-color: white;
        border-radius: 999px;
        margin: 0 auto;
        margin-top: 200px;
        display: grid;
        color: black;
        place-items: center;
    }
}

@keyframes sickoBg {

    to {
        background-position: 600px 300px;
    }
}
