@import 'normalize.css';


@import 'styles/var';
@import 'styles/fonts';
@import 'styles/base';
@import 'styles/type';

@import 'styles/components/components';
@import 'styles/mixins/mixins';






.list {
    display: block;
    width: 100%;
    margin: 0;
    padding: 11px 17px;
    color: white;
    border-radius: 5px;
    outline: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        display: flex;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        border: none;
    }

    &__text {
        display: block;
        width: 100%;
        padding: 11px 17px;
        border-radius: 5px;
        background-color: rgba(white, 0.2);
    }

    &__delete {
        margin-left: 20px;
        padding: 11px;
        width: auto;
        display: grid;
        place-items: center;
    }
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #000000;
	border-radius: 10px;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #000000;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#3a1479),
									   to(#3a1479),
									   color-stop(.6,#270c58))
}
