@import 'normalize.css';

@import './assets/styles/var';
@import './assets/styles/base';
@import './assets/styles/type';

@import './assets/styles/components/form';






.list {
    display: block;
    width: 100%;
    margin: 0;
    padding: 11px 17px;
    color: white;
    border-radius: 5px;
    outline: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        display: flex;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        border: none;
    }

    &__text {
        display: block;
        width: 100%;
        padding: 11px 17px;
        border-radius: 5px;
        background-color: rgba(white, 0.2);
    }

    &__delete {
        margin-left: 20px;
        padding: 11px;
        width: auto;
        display: grid;
        place-items: center;
    }
}

